name: Rust

on:
  push:
    branches: [ "main" ]
    tags:
      - "v*"
  pull_request:
    types: [opened, synchronize]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: | 
          sudo apt-get update -y -qq
          sudo apt-get install -y protobuf-compiler
          sudo apt-get clean
      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.91.0
          components: rustfmt, clippy

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build
        run: cargo build --all-targets --all-features

      - name: Run tests
        run: cargo test --verbose

      - name: Linter
        run: cargo clippy --all-targets --all-features -- -Wclippy::uninlined_format_args -Wclippy::todo

      - name: Formatting
        run: cargo fmt --all -- --check

      - name: Generate documentation
        run: cargo doc --no-deps --document-private-items
