name: Rust

on:
  push:
    branches: [ "main" ]
    tags:
      - "v*"
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings -Dclippy::uninlined_format_args"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install protobuf compiler
        run: sudo apt-get install -y protobuf-compiler
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
      - name: Linter
        run: cargo clippy --all-targets --all-features
      - name: Formatting
        run: cargo fmt --all -- --check
      - name: Generate documentation
        run: cargo doc --no-deps --document-private-items
  release:
    name: release
    needs: build
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.ref, 'refs/tags') }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: sudo apt-get install -y protobuf-compiler zip
      - name: Build Executable
        run: cargo build --release
      - name: Create Release with Executable
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "${{ github.ref_name }}" \
            --repo="${{ github.repository }}" \
            --title="${{ github.ref_name }}" \
            --generate-notes
