name: Rust

on:
  push:
    branches: [ "main" ]
    tags:
      - "v*"
  pull_request:
    types: [opened, synchronize]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: | 
          sudo apt-get update -y -qq
          sudo apt-get install -y protobuf-compiler
          sudo apt-get clean
      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.90.0
          components: rustfmt, clippy

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose

      - name: Linter
        run: cargo clippy --all-targets --all-features

      - name: Formatting
        run: cargo fmt --all -- --check

      - name: Generate documentation
        run: cargo doc --no-deps --document-private-items
  release:
    name: release
    needs: build
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.ref, 'refs/tags') }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: sudo apt-get install -y protobuf-compiler zip
      - name: Build Executable
        run: cargo build --release
      - name: Create Release with Executable
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "${{ github.ref_name }}" \
            --repo="${{ github.repository }}" \
            --title="${{ github.ref_name }}" \
            --generate-notes
